@use 'variables';

.header {
    padding: 1vw 4vh;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            img {
                width: 165px;
                height: 60px;
                cursor: pointer;
            }
        }


        &__nav {
            position: sticky;
            top: 0;
            z-index: 1;
            display: flex;
            justify-content: center;

            &.reduce-padding {
                padding-top: 4px;
            }

            &__list {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: variables.$watchNowBtn;
                font-weight: 700;
                width: 400px;
                border-radius: 20px;

                &__item {
                    padding: 8px;
                    margin-right: 12px;
                    text-decoration: none;

                    .links {
                        color: #ffffffa8;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            color: variables.$mainTxt;
                        }
                    }


                }
            }
        }

        .sign-in_btn {
            background-color: variables.$mainTxt;
            color: variables.$bgColor;
            letter-spacing: 0.5px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            border-radius: 22px;
            border: 0.5px solid black;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                border: 0.5px solid #fff;
            }
        }
    }

    @media (max-width: 768px) {
        
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__logo {
                img {
                    width: 75px;
                    height: 30px;
                }

                a {
                    padding: 0;
                    margin: 0;
                }
            }

            &__nav {
                padding: 2px;
                &__list {
                    display: flex;
                    width: 100%;
                    border-radius: 10px;


                    &__item {
                        margin-right: 12px;
                        
                        padding: 2px 6px;

                        .links {
                            font-size: 14px;
                        }
                    }
                }
            }

            .sign-in_btn {
                padding: 4px 12px;
                font-size: 14px;
                font-size: 12px;
            }
        }
    }
}