@use 'variables';


.hero {
    position: relative;
    display: block;
    padding: 5.8vw;
    padding-bottom: 0;
    padding-top: 0px;
    text-align: center;

    &__image {
        display: block;
        width: 100%;
        border: 2px #fff solid;
        border-radius: 20px;
        
    }

    &__content {
        position: absolute;
        bottom: 4%;
        left: 12%;
        right: 8%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .watch-btn {
            background-color: variables.$watchNowBtn;
            color: variables.$mainTxt;
            padding: 10px 72px;
            font-size: 18px;
            font-weight: bold;
            border-radius: 22px;
            border: 0.5px solid variables.$btnBorder;
            letter-spacing: .5px;
            cursor: pointer;

            &:hover {
                background-color: variables.$hoverWatchNowBtn;
            }
        }

        .trailer-btn {
            background-color: variables.$secondButton;
            color: variables.$mainTxt;
            letter-spacing: 0.5px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            border-radius: 22px;
            border: 0.5px solid variables.$btnBorder;
            cursor: pointer;
            transition: border 0.3s ease;

            &:hover {
                border: 0.5px solid #fff;
            }

        }

        .icon-play {
            font-size: 22px;
            margin-right: 4px;
        }




    }

}