@use 'variables';

.info {
    padding: 2vh 10vw 0;
    margin-top: 58px;
    

    &__container {
        padding: 32px 24px;
        display: block;
        background-color: variables.$containersBgColor;
        border: 0.5 solid #fff;
        border-radius: 22px;

        .info_title {}

        .info_list {
            display: flex;
            margin-top: 8px;
            font-weight: bold;

            &__item {
                margin-right: 38px;
                list-style: disc;

            }

            :first-child {
                list-style: none;
            }
        }

        .info__text {
            display: flex;
            justify-content: flex-start;
            margin-top: 8px;
            font-weight: bold;

            &__left {
                border-right: 1px solid variables.$secondTxt;
                padding-right: 20px;
            }

            &__right {
                padding-left: 20px ;
            }

        }
    }

    @media (max-width: 768px) {
        padding: 1vh 5vw 0;
        margin-top: 30px;

        &__container {
            padding: 16px 12px;
            display: block;
            background-color: variables.$containersBgColor;
            border: 0.5 solid #fff;
            border-radius: 22px;

            .info_title {
                font-size: 20px;
            }

            .info_list {
                display: flex;
                margin-top: 4px;
                font-weight: bold;

                &__item {
                    list-style: disc;
                    margin-right: 25px;
                    font-size: 14px;

                    :first-child {
                        list-style: none;
                    }
                }
            }

            .info__text {
                display: block;
                justify-content: flex-start;
                margin-top: 4px;
                font-weight: bold;
                font-size: 14px;

                &__left {
                    border-right: none;
                    padding: 0;
                    font-size: 16px;
                    font-weight: normal;
                }

                &__right {
                    padding: 0;
                    font-size: 14px;
                }
            }
        }
    }
}